@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary-color-white: #ffffff;
  --primary-color-black: #000000;
  --primary-color-red: #ff0000;
  --secudary-color-red: #D33232;
  --primary-color-skin: #F7D9B5;
  --primary-color-green: #115D33;
  --secudary-color-green: #0c6936;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--primary-color-red);
  color: var(--primary-color-white);
  z-index: -4;
}
body a {
  text-decoration: none;
  cursor: pointer;
}
body button {
  cursor: pointer;
  text-align: center;
}
body p {
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
}
header h1 {
  text-transform: capitalize;
  margin-top: 6.901217862vh;
  margin-bottom: 3vh;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}
header p {
  font-size: clamp(0.5re, 1.5rem, 2.5rem);
  font-weight: 400;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
main section {
  height: 80vh;
}
main section article {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 13vh;
  flex: 1;
}
main section article .ear {
  background-color: var(--secudary-color-red);
  width: 25%;
  height: 50%;
  border-radius: 100% 100% 0 0;
}
main section .bar {
  background-color: var(--secudary-color-red);
  height: 7%;
  width: 100%;
}
main section form {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main section form .form {
  background-color: var(--primary-color-white);
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 100%;
}
main section form .form .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color-skin);
  width: 80%;
  height: 80%;
  border-radius: 100%;
  position: relative;
}
main section form .form .form-container .eye-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color-skin);
  width: 40%;
  bottom: 70%;
}
main section form .form .form-container .eye-container .eye {
  background-color: var(--primary-color-black);
  width: 2vw;
  height: 4vh;
  border-radius: 100%;
}
main section form .form .form-container .input {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-end;
  height: 60%;
  width: 40%;
}
main section form .form .form-container .input .input-wrapper {
  position: relative;
  height: 25%;
}
main section form .form .form-container .input .input-wrapper input {
  min-height: 100%;
  min-width: 100%;
}
main section form .form .form-container .input input {
  background-color: var(--primary-color-white);
  border: 2px solid var(--primary-color-black);
  font-size: 1rem;
  text-align: center;
  color: var(--primary-color-black);
  height: 25%;
  width: 100%;
}
main section form .form .form-container .input input:hover {
  border-color: var(--secudary-color-green);
}
main section form .form .form-container .input input:focus {
  border-color: var(--primary-color-red);
  outline: none;
}
main section form .form .form-container .input .password-icon {
  width: 9%;
  height: auto;
  z-index: 2;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}
main section form .form .form-container .input .hidden {
  display: none;
}
main section form .sweater-container {
  position: relative;
  width: 100%;
  height: auto;
}
main section form .sweater-container .sweater {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
main section form .sweater-container .piece-sweater-container {
  position: absolute;
  top: -2rem;
  right: 4rem;
  width: 20%;
  height: auto;
  z-index: 2;
  background-color: transparent;
}
main section form .sweater-container .piece-sweater-container .sweater-sleeve {
  position: absolute;
  max-width: 100%;
  height: auto;
  background-color: transparent;
  z-index: 3;
  top: 1rem;
}
main section form .sweater-container .piece-sweater-container .sweater-sleeve-piece {
  position: absolute;
  top: 1rem;
  left: 18px;
  max-width: 80%;
  height: auto;
  background-color: transparent;
  z-index: 4;
}
main section form .button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 16vh;
  padding: 3rem 0 0 0;
}
main section form .button-container button {
  box-shadow: 5px 5px 5px var(--primary-color-black);
  background-color: var(--primary-color-green);
  width: 20%;
  height: 80%;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--primary-color-white);
}
main section form .button-container button:hover {
  background-color: var(--secudary-color-green);
  box-shadow: 0 0 10px var(--primary-color-black);
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: end;
  height: 15vh;
  width: 100%;
  margin-top: 9rem;
  margin-bottom: 2rem;
  border-top: var(--primary-color-green) solid;
}
footer a img {
  width: 2rem;
  height: 2rem;
  transform: scale(1);
  transition: color transform 0.3s ease-in-out;
  color: var(--primary-color-white);
}
footer a img:hover {
  color: #bbb;
  transform: scale(1.1);
  opacity: 0.7;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
footer p {
  text-transform: uppercase;
}
footer .footer__contact,
footer .footer__followUS {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .footer__followUS {
  padding-top: 2rem;
}
footer .footer__followUS .followUS-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}/*# sourceMappingURL=style.css.map */