@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color-white: #ffffff;
    --primary-color-black: #000000;
    --primary-color-red: #ff0000;
    --secondary-color-red: #D33232;
    --primary-color-skin: #F7D9B5;
    --primary-color-green: #115D33;
    --secondary-color-green: #0c6936;
    --tertiary-color-red: #8c0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--primary-color-red);
    color: var(--primary-color-white);
    z-index: -4;

    a {
        text-decoration: none;
        cursor: pointer;
    }

    button {
        cursor: pointer;
        text-align: center;
    }

    p {
        text-align: center;
    }
}

header {

    .header-container {
        h1 {
            text-transform: capitalize;
            margin-top: 6.901217861975643vh;
            margin-bottom: 1.386rem;
            font-size: clamp(1.5rem, 2.5rem, 3.5rem);
            font-weight: 400;
            text-align: center;
        }

        p {
            font-size: clamp(0.5re, 1.5rem, 2.5rem);
            font-weight: 400;
            text-align: center;
            margin-bottom: 1.386rem;
        }
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

    #music-player {
        padding: .8rem 1.5rem;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        color: var(--primary-color-white);
        margin: 1.6rem auto;
        backdrop-filter: blur(3px);
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .player-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.3rem;
            margin-top: 0.3rem;

            button {
                background-color: var(--primary-color-red);
                border: var(--primary-color-white) solid 0.2rem;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    max-width: 1rem;
                    max-height: 1rem;
                }
            }

            #prev, #next {
                padding: 0.2rem;
            }

            #play-pause {
                padding: 0.5rem;
            }
        }
    }


    #music-player input[type="range"] {
        appearance: none;
        width: 150px;
        height: 5px;
        background: var(--primary-color-white);
        border-radius: 5px;
        outline: none;
        transition: background 0.2s;
    }

    #music-player input[type="range"]::-webkit-slider-thumb {
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: var(--tertiary-color-red);
        cursor: pointer;
        transition: background-color 0.2s;
    }

    #music-player input[type="range"]::-webkit-slider-thumb:hover {
        background: var(--secondary-color-red);
    }


    section {
        height: 80vh;

        article {
            display: flex;
            justify-content: space-between;
            align-items: end;
            height: 13vh;
            flex: 1;

            .ear {
                background-color: var(--secondary-color-red);
                width: 25%;
                height: 50%;
                border-radius: 100% 100% 0 0;
            }
        }

        .bar {
            background-color: var(--secondary-color-red);
            height: 7%;
            width: 100%;
        }

        form {
            max-height: 100%;
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .form {
                background-color: var(--primary-color-white);
                max-width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 50vh;
                width: 100%;

                .form-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: var(--primary-color-skin);
                    width: 80%;
                    height: 80%;
                    border-radius: 100%;
                    position: relative;

                    .eye-container {
                        position: absolute;
                        display: flex;
                        justify-content: space-between;
                        background-color: var(--primary-color-skin);
                        width: 40%;
                        bottom: 70%;

                        .eye {
                            background-color: var(--primary-color-black);
                            width: 2vw;
                            height: 4vh;
                            border-radius: 100%;
                        }

                        .closed {
                            height: 0.5vh;
                            width: 3vw;
                            background-color: var(--primary-color-black);
                            border-radius: 15px;
                        }
                    }

                    .input {
                        display: flex;
                        flex-direction: column;
                        align-self: center;
                        justify-content: flex-end;
                        height: 60%;
                        width: 40%;

                        .input-wrapper {
                            position: relative;
                            height: 25%;

                            input {
                                min-height: 100%;
                                min-width: 100%;
                            }
                        }

                        input {
                            background-color: var(--primary-color-white);
                            border: 2px solid var(--primary-color-black);
                            font-size: 1rem;
                            text-align: center;
                            color: var(--primary-color-black);
                            height: 25%;
                            width: 100%;
                        }

                        input:hover {
                            border-color: var(--secondary-color-green);
                        }

                        input:focus {
                            border-color: var(--primary-color-red);
                            outline: none;
                        }

                        .password-icon {
                            width: 9%;
                            height: auto;
                            z-index: 2;
                            position: absolute;
                            top: 0.5rem;
                            right: 1rem;
                            cursor: pointer;
                            display: none;
                        }
                    }
                }
            }

            .sweater-container {
                position: relative;
                width: 100%;
                height: auto;

                .sweater {
                    width: 100%;
                    height: auto;
                    position: relative;
                    z-index: 1;
                }

                .piece-sweater-container {
                    position: absolute;
                    top: -2rem;
                    right: 4rem;
                    width: 20%;
                    height: auto;
                    z-index: 2;
                    background-color: transparent;

                    .sweater-sleeve {
                        position: absolute;
                        max-width: 100%;
                        height: auto;
                        background-color: transparent;
                        z-index: 3;
                        top: 1rem;
                    }

                    .sweater-sleeve-piece {
                        position: absolute;
                        top: 1rem;
                        left: 18px;
                        max-width: 80%;
                        height: auto;
                        background-color: transparent;
                        z-index: 4;
                    }
                }
            }

            .button-container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: end;
                height: 16vh;
                padding: 3rem 0 0 0;

                button {
                    box-shadow: 5px 5px 5px var(--primary-color-black);
                    background-color: var(--primary-color-green);
                    width: 20%;
                    height: 80%;
                    font-weight: 700;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    color: var(--primary-color-white);
                }

                button:hover {
                    background-color: var(--secondary-color-green);
                    box-shadow: 0 0 10px var(--primary-color-black);
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: end;
    height: 15vh;
    width: 100%;
    margin-top: 12rem;
    margin-bottom: 2rem;
    border-top: var(--primary-color-green) solid;

    a {
        img {
            width: 2rem;
            height: 2rem;
            transform: scale(1);
            transition: color transform 0.3s ease-in-out;
            color: var(--primary-color-white);
        }

        img:hover {
            color: #bbb;
            transform: scale(1.1);
            opacity: 0.7;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }
    }

    p {
        text-transform: uppercase;
    }

    .footer__contact,
    .footer__followUS {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
    }

    .footer__followUS {
        padding-top: 2rem;
        
        .followUS-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0.2rem;
        }
    }
}

.snowflake {
    position: fixed;
    top: -10px;
    background-color: var(--primary-color-white);
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    animation: fall 10s linear infinite;
    z-index: -2;
}

@keyframes fall {
    0% {
        transform: translateY(0) translateX(0);
    }

    100% {
        transform: translateY(100vh) translateX(calc(-100vw + 200vw * random()));
    }
}


@media (max-width: 768px) {

    body {

        main {
            
            section {
                width: 80%;

                form {
                    .form {
                        .form-container {
                            .eye-container {
                            }

                            .input {
                                width: 50%;
                                
                                input {
                                    font-size: 0.8rem;
                                    text-align: left;
                                    padding: 0% 0% 0% 0.2rem;
                                }

                                .input-wrapper {
                                    img {
                                        top: 10px;
                                        right: 15px;
                                    }
                                }
                            }
                        }
                    }

                    .sweater-container {

                        .piece-sweater-container {

                            .sweater-sleeve {
                                left: 7px;
                            }
                        }
                    }

                    .button-container {
                        button {
                            width: 5rem;
                            height: 3rem;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}